# 你先安装这些依赖，后面开发代码会用到
fastapi
uvicorn[standard]
sqlalchemy
aiosqlite
aiomysql
pydantic
pydantic-settings
python-multipart
Pillow
openai
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
PyMySQL
redis

